In [79]:
import numpy as np 
import pandas as pd
import re

from nltk.tokenize import sent_tokenize

In [96]:
personal = pd.read_csv('../data/Negatives_AllPersonal.tsv', sep = '\t')
bus_personal = pd.read_csv('../data/Negatives_BusinessPersonal.tsv', sep = '\t')
context = pd.read_csv('../data/context_task_data.tsv', sep = '\t')

In [97]:
bus_personal = bus_personal.drop_duplicates().fillna(int(0)).drop(columns=['Labeler', 'Urgent'])

In [98]:
personal = personal.drop_duplicates().fillna(0).drop(columns=['Labeler'])

In [99]:
# personal

In [100]:
context_neg = context[context['NoRequestInContext'] == 1].Context.values

In [101]:
def fix_tokenize(text):
    text = re.sub('\.\.', '.', text)
    sents = sent_tokenize(text)
    return sents

In [102]:
fix_tokenize(context_neg[0])

['Chris - Attached is the spreadsheet shared with KPMG.',
 'Feel free to add anything else needed for settlement.',
 'One area that we thought you could provided a lot of insight to is the upper/lower band and parameters needed for to figure these calculations hourly, daily, monthly, annually, etc.',
 '.',
 'Call if you have any questions.']

In [103]:
neg_sents = []

for s in context_neg:
    try:
        neg_sents += fix_tokenize(s)
    except:
        pass

In [104]:
len(neg_sents)

696

In [113]:
pos_sents = context[['TaskSentence']].drop_duplicates().TaskSentence.values

In [114]:
len(pos_sents)

5888

In [115]:
neg = pd.DataFrame({'Sentence': neg_sents}); neg['Request'] = 0
pos = pd.DataFrame({'Sentence': pos_sents}); pos['Request'] = 1

In [116]:
data = pd.concat([personal, bus_personal, neg, pos])

In [117]:
data = data.astype({'Request': 'int32'})

In [118]:
data.to_csv('../data/Request_data.tsv')

In [119]:
data

                                               Sentence  Request
0                    I just had to share this with you.        0
1                   I hope you haven't seen it already.        0
2                             Thought you'd enjoy this.        0
3     This is a handy guide that should be as common...        0
4                                           Look at you        0
...                                                 ...      ...
5883  If your request is urgent please send me an em...        1
5884  Could you please make every effort to get with...        1
5885  We will try and answer these tomorrow, so plea...        1
5886  Kara/Heidi, please give this to Brian and Meli...        1
5887                                                NaN        1

[8633 rows x 2 columns]